@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&family=Varela+Round&display=swap');
*{
    font-family: 'Varela Round', sans-serif;
    padding: 0px;
    margin: 0px;
}

body{
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    
}

#contenedorPrincipal{
    width: 100%;
    display: flex ;
    justify-content: center;
    align-items: center;
    background: red;
}

/* Estilos header */

.capa{
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #0000004f;
    z-index: 100;
    top: 0;left: 0;
}
/*Estilos para el encabezado*/

.btnX{
    font-size: 35px;
    color: white;
    cursor: pointer;
}

.container .menu{
    float: right;
    line-height: 100px;
}

.container .menu a{
    display: inline-block;
    padding: 15px;
    line-height: normal;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
    font-size: 15px;
    margin-right: 5px;
}

.container .menu a:hover{
    border-bottom: 2px solid #c7c7c7;
    padding-bottom: 5px;
}
/*Fin de Estilos para el encabezado*/

/*Menù lateral*/

#btn-menu{
    display: none;
}

#barras{
    font-size: 35px;
    color: white;
    cursor: pointer;
}

.container-menu{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}

#btn-menu:checked ~ .container-menu{
    opacity: 1;
    visibility: visible;
}

.cont-menu{
    width: 100%;
    max-width: 18rem;
    background: #407aff;
    height: 42rem;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    flex-direction: column;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    z-index: 100;
}

#btn-menu:checked ~ .container-menu .cont-menu{
    transform: translateX(0%);
}

.cont-menu nav{
    margin-top: 2rem;
    transform: translateY(15%);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}

.cont-menu nav a{
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #ffffff;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}

.cont-menu nav a:hover{
    border-left: 5px solid #294685;
    background: #c7c7c7;
}

.cont-menu .btnX{
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}

/* boton cambio de color */

#containerChange{
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: transparent;
    gap: 1.5rem;
}

#containerChange >p{
    color: white;
    font-size: 18px;
}

#btnMode{
    font-size: 20px;
    border: 2px solid #ffffff;
    color: white;
    background: none;
    border-radius: 15px;
    width: 30%;
    height: 60%;
    cursor: pointer;
}

/*Fin de Menù lateral*/
#header{
    display: flex;
    width: 100%;
    height: 9rem;
    background: #407aff;
    flex-direction: row;
    align-items: center;
}

#containerMenu{
    width: 25%;
    height: 85%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 4rem;
    background-color: transparent;
}

#menu{
    width: 15%;
    height: 42%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor:pointer;
}

.menus{
    width: 100%;
    height: 0.2rem;
    background-color: #ffffff;
    border-radius: 20px;
}

#iconMenu{
    color: white;
    font-size: 40px;
}

#container_header{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: transparent;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#logoHead{
    background-color: transparent;
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

#logoHead img{
    width: 100%;
    height: 100%;
}
   
#contLista{
    width: 25%;
    height: 80%;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    list-style: none;
    margin-right: 3rem;
}

#li{
    display: flex;
    justify-content: center;
    align-items: center;
}

#li a{
    text-decoration: none;
}

.btn {
    position: relative;
    display: block;
    height: 3rem;
    border-radius: 20px;
    text-transform: uppercase;
    background-color: transparent;
    color: #fff;
    font-size: 18px;
    overflow: hidden;
    transition: all 500ms ease;
    border: 2px solid white;
    z-index: 0;
    font-weight: 700;
    cursor: pointer;
}

.btn::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    background-color: white;
    transition: all 500ms ease;
    z-index: -1;
}

.btn--1{
    width: 10rem;
}

.btn--2{
    width: 6rem;
}

.btn--1::before {
    left: -520px;
    right: 0;
    width: 100%;
    height: 150%;
    transition: all 750ms ease;
    transform: rotate(45deg);
    box-shadow: 0 0 10px white, 0 0 20px white, 0 0 20px white;
}

.btn--1:hover::before {
    left: 520px;
}

.btn--2::before {
    left: -520px;
    right: 0;
    width: 100%;
    height: 150%;
    transition: all 750ms ease;
    transform: rotate(45deg);
    box-shadow: 0 0 10px white, 0 0 20px white, 0 0 20px white;
}

.btn--2:hover::before {
    left: 520px;
}

@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 0 0 white;
  }
  100% {
    box-shadow: 0 0 8px 16px white;
  }
}

#icons{
    width: 100%;
    height: 100%;
    color: white;
    font-size: 22px;
}

#user{
    font-size: 35px;
    color: white;
}

#user:hover{
    cursor: pointer;
}

#buttonUser{
    background: none;
    border: none;
}

/* Inicio de modal */

#capaSesion{
    width: 100%;
    height: 100%;
    background-color: #0000004f;
    position: fixed;
    z-index: 100;
    display: none;
    justify-content: center;
    align-items: center;
}

#modalSesion{
    width: 30%;
    height: 30%;
    background: #407aff;
    border: 1px solid white;
    border-radius: 20px;
}

#modalContenido1{
    width: 100%;
    height: 25%;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid white;
}

#modalContenido1 h3{
    font-size: 28px;
    font-family: Roboto, sans-serif;
    font-weight: lighter;
    color: white;
}

#modalContenido2{
    width: 100%;
    height: 75%;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#buttonModal{
    cursor: pointer;
}

/* Fin de modal */


#products{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#3f87a6;
    width: 3%;
    height: 30%;
    border-radius: 9px;
}

h1 {
    font-size: 4rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 5px 5px 3px #000000;
    color: #8709cf;
}

hr {
    background: linear-gradient(#f69d3c, #3f87a6);
}
.nav1{
    margin: 30px;
}
.container-products{
    width: 100%;
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.padre-anuncios{
    width: 100%;
    height: 100%;
    background-color: #461919;
    display: flex;
    justify-content: space-around;
}
.anuncios{
    width: 100%;
    height: 100%;
    background-color: #c5d7ff;
    flex-wrap: wrap;
}

.contain{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#container-cards{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    flex-wrap: wrap;
    background: #c5d7ff;
}


select{
    width: 20%;
    height: 2rem;
    background: #967300;
    border:0px;
    color: #ffffff;  
    cursor: pointer;  
    border-radius: 5px;
    margin: 10px;
    font-size: 1.2rem;
    font-style: oblique;
    margin-top: -120px;
}
.logotype{
    display: flex;
    width: 22%;
    justify-content: space-between;
    font-size: 3rem;
    align-items: center;
}

.icons{
    font-size: 2rem;
    cursor: pointer;
}


.menu{
    font-size: 2.5rem;
    color: #9C0A00;
    padding: 1% 0%;
}


/*main{
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}*/

h2 {
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    text-align: center;
}

.principal-container {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card{
    width: 35rem;
    height: 15rem;
    display: flex;
    align-items: center;
    padding: 0% 2%;
    box-shadow: 0px 0px 5px 5px rgb(255, 255, 255);
    margin: 0.7rem;
    border-radius: 2%;
    flex-wrap: wrap;
}

.cardContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 13rem;
    justify-content: space-evenly;
}

.price{
    color: #967300  ;
    font-size: 1.3rem;
    text-align: start;
    width: 100%;
}
  
.card img {
    width: 45%;
    height: 10rem;
    object-fit: cover;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 2%;
}
  

  
button {
    width: 100%;
    height: 2rem;
    background-color:rgba(64,123,255,255);
    color: white; 
    border:0px;
    font-size: 1.5rem;
    cursor: pointer;  
    border-radius: 5px;
    margin-top: -3rem;
    margin-left: -0rem;
}
  
button:hover{
    background: transparent;
    color: rgb(255, 255, 255);
    font-weight: bold;
}



/*animaciones*/


.card-product {
    width: 20%;
    height: auto;
    border-radius: 5px;
    margin: 2rem;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.658);
    border: 2px solid white;
    box-shadow: 0 5px 10px black;
    display:flex;
    flex-direction: column;
}
.card-product2 {
    width: 30%;
    height: 40rem;
    border-radius: 5px;
    margin: 2rem;
    padding: 1rem;
    background-color: #2a6af5;
}



.img-product {
    width: 100%;
    height: 38%;
    border-radius: 5px;
}
p{
    font-size: 10px;
    color: #f4f4f4;
}

.name-product {
    width: auto;
    display: flex;
    margin-top: 0.5rem;
    color: #fff;
    font-family: Roboto, sans-serif;
    font-size: 2rem;
    font-weight: 550;
    justify-content: center;
}

.price-product {
    font-family: Roboto, sans-serif;
    font-weight: 600;
    color: #000000;
}

.btn-add {
    width: 100%;
    height: 2rem;
    border-radius: 5px;
    background-color:rgba(64,123,255,255);
    color: white;
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-left: -0rem;
    margin-bottom: 5rem;
}

.btn-add:hover,
.btn-add:focus {
    cursor: pointer;
    background-color: #fff;
    color: #000;
}

.modal {

    width:25rem;
    height: 30rem;
    border: groove black 2px;
    background-color: #c5d7ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    position: absolute;
    z-index: 1;
    display: none;
    margin-top: 20rem;
    border-radius: 20px;
}

#new-product{
    border-radius: 5px;
}

#new-price{
    border-radius: 5px;
}

#new-tipo{
    border-radius: 5px;
}

#new-area{
    border-radius: 5px;
}

#new-ciudad{
    border-radius: 5px;
}

#newEstrellas{
    background-color: rgb(255, 255, 255);
    margin-top: 0.1rem;
    width: 10rem;
}

#new-tipo {
    
    background-color: rgb(255, 255, 255);
    margin-top: 0.1rem;
    width: 10rem;
    
}

#close-modal{
    background-color: #000;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    font-family: Roboto, sans-serif;
    margin-top:0.3rem;
    font-size: 1.2rem;
}

#btn-create{
    width: 10%;
    height: 2rem;
    background-color:rgba(64,123,255,255);
    border:0px;
    color: #ffffff;  
    cursor: pointer;  
    border-radius: 5px;
    margin: 10px;
    margin-top: 120px;
    font-size: 1.2rem;
}

#select-products{
    background-color:rgba(64,123,255,255);
    width: 10%;
    height: 2rem;
    cursor: pointer; 
    border-radius: 5px;
    font-size: 1.2rem;
    margin-top: 120px;
}
#btn-new-create{
    background:#0071ce;
    color: black;
}


#btn-create{
    background:#0071ce;
}

.modal{
    background-color: #c5d7ff;
}

#contacto{
    background:#ffffff;
    width: 170px;
    height: 25px;
    color:black;
    font-size: 15px;
    font-style: oblique;
    border-radius: 7px;
}
#Descripcion{
    background:#ffffff;
    width: 170px;
    height: 25px;
    color: black;
    font-size: 15px;
    font-style: oblique;
    border-radius: 7px;
}
#Fecha{
    background:#ffffff;
    width: 200px;
    height: 25px;
    color: black;
    font-size: 12px;
    font-style: oblique;
    border-radius: 7px;
}
#Lugar{
    background:#ffffff;
    width: 170px;
    height: 25px;
    color: black;
    font-size: 15px;
    font-style: oblique;
    border-radius: 7px;
}
#nombre{
    background:#ffffff;
    width: 170px;
    height: 25px;
    color: black;
    font-size: 15px;
    font-style: oblique;
    border-radius: 7px;
}
#Npersonas{
    background:#ffffff;
    width: 170px;
    height: 25px;
    color: black;
    font-size: 15px;
    font-style: oblique;
    border-radius: 7px;
}
#new-image{
    background:#ffffff;
    width: 300px;
    height: 20.5px;
    color: black;
    font-size: 12px;
    font-style: oblique;
    border-radius: 7px;
}

/* footer */

#footer{
    width: 100%;
    height: 350px;
    background: #407aff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-top: 1px solid white;
    margin-top: 10rem;
    }
    
    nav{
    display: flex;
    background-color: transparent;
    height: 78%;
    width: 82%;
    justify-content: center;
    flex-direction: column;
    }
    
    nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    }
    
    nav ul li{
    text-align: center;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    
    gap: 18px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    width: 40%;
    font-weight: bold;
    }
    
    #section-footer{
    border-top: 1px white solid;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    height: 22%;
    width: 70%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    justify-content: space-between;
    }
    
    
    #p-footer1{
    display: flex;
    justify-content: start;
    width: 50%;
    }
    
    #p-footer2{
    display: flex;
    justify-content: end;
    width: 50%;
    }
    
    .p{
    width: 100%;
    text-align: left;
    }
    
    .divFooter{
    display: flex;
    align-items: center;
    justify-content:center;
    }
    
    .divFooter>p{
    display: flex;
    justify-content:center;
    width: 20%;
    }
    
    #containerIcons{
    width: 3rem;
    height: 1.5rem;
    }
    
    #ul-1{
    margin-bottom: 1rem;
    }
    
    #order>p{
    text-align: center;
    }