@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&family=Varela+Round&display=swap');
*{
    font-family: 'Varela Round', sans-serif;
    padding: 0px;
    margin: 0px;
}

body{
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

/*Estilos para el encabezado*/
.header{
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;left: 0;
    background-color: #c5d7ff;
}
.container{
    width: 90%;
    max-width: 1200px;
    margin: auto;
}
.container .btn-menu, .logo{
    float: left;
    line-height:100px;
}
.container .btn-menu label{
    color: #fff;
    font-size: 25px;
    cursor: pointer;
}
.logo h1{
    color: #fff;
    font-weight: 400;
    font-size: 22px;
    margin-left: 10px;
}
.container .menu{
    float: right;
    line-height: 100px;
}
.container .menu a{
    display: inline-block;
    padding: 15px;
    line-height: normal;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
    font-size: 15px;
    margin-right: 5px;
}
.container .menu a:hover{
    border-bottom: 2px solid #c7c7c7;
    padding-bottom: 5px;
    background-color:rgba(64,123,255,255);
    border-radius:10px;
}
/*Fin de Estilos para el encabezado*/

/*Menù lateral*/
	#btn-menu{
		display: none;
	}
	.container-menu{
		position: absolute;
		background: rgba(0,0,0,0.5);
		width: 100%;
		height: 100vh;
		top: 0;left: 0;
		transition: all 500ms ease;
		opacity: 0;
		visibility: hidden;
	}
	#btn-menu:checked ~ .container-menu{
		opacity: 1;
		visibility: visible;
	}
	.cont-menu{
		width: 100%;
		max-width: 250px;
		background:#c5d7ff;
		height: 100vh;
		position: relative;
		transition: all 500ms ease;
		transform: translateX(-100%);
	}
	#btn-menu:checked ~ .container-menu .cont-menu{
		transform: translateX(0%);
	}
	.cont-menu nav{
		transform: translateY(15%);
	}
	.cont-menu nav a{
		display: block;
		text-decoration: none;
		padding: 20px;
		color: #000;
		border-left: 5px solid transparent;
		transition: all 400ms ease;
	}
	.cont-menu nav a:hover{
		border-left: 5px solid #626262;
		background:rgba(64,123,255,255);
	}
	.cont-menu label{
		position: absolute;
		right: 5px;
		top: 10px;
		color: #fff;
		cursor: pointer;
		font-size: 18px;
	}
	/*Fin de Menù lateral*/




#products{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#3f87a6;
    width: 3%;
    height: 30%;
    border-radius: 9px;
}

h1 {
    font-size: 4rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 5px 5px 3px #000000;
    color: #8709cf;
}




hr {
    background: linear-gradient(#f69d3c, #3f87a6);
}
.nav1{
    margin: 30px;
}
.container-products{
    width: 100%;
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.padre-anuncios{
    width: 100%;
    height: 100%;
    background-color: #461919;
    display: flex;
    justify-content: space-around;
}
.anuncios{
    width: 100%;
    height: 100%;
    background-color: white;
    margin-top: 6rem;
    flex-wrap: wrap;
}

.contain{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#container-cards{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    flex-wrap: wrap;
}


select{
    width: 20%;
    height: 2rem;
    background: #967300;
    border:0px;
    color: #ffffff;  
    cursor: pointer;  
    border-radius: 5px;
    margin: 10px;
    font-size: 1.2rem;
    font-style: oblique;
    margin-top: -120px;
}
.logotype{
    display: flex;
    width: 22%;
    justify-content: space-between;
    font-size: 3rem;
    align-items: center;
}

.icons{
    font-size: 2rem;
    cursor: pointer;
}


.menu{
    font-size: 2.5rem;
    color: #9C0A00;
    padding: 1% 0%;
}


/*main{
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}*/

h2 {
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    text-align: center;
}

.principal-container {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card{
    width: 35rem;
    height: 15rem;
    display: flex;
    align-items: center;
    padding: 0% 2%;
    box-shadow: 0px 0px 5px 5px rgb(255, 255, 255);
    margin: 0.7rem;
    border-radius: 2%;
    flex-wrap: wrap;
}

.cardContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 13rem;
    justify-content: space-evenly;
}

.price{
    color: #967300  ;
    font-size: 1.3rem;
    text-align: start;
    width: 100%;
}
  
.card img {
    width: 45%;
    height: 10rem;
    object-fit: cover;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 2%;
}
  

  
button {
    width: 50%;
    height: 2rem;
    background: #967300;
    border:0px;
    color: #ffffff;  
    cursor: pointer;  
    border-radius: 15px;
    justify-content:flex-end
}
  
button:hover{
    background: #f4f4f4;
    color: rgb(255, 255, 255);
    font-weight: bold;
    outline: 2px solid black;
    outline-offset:2px;
}



/*animaciones*/


.card-product {
    width: 30%;
    height: 40rem;
    border-radius: 5px;
    margin: 2rem;
    padding: 1rem;
    background-color: #c5d7ff;
}

.img-product {
    width: 100%;
    height: 60%;
    border-radius: 15px;
}
p{
    font-size: 1rem;
    color: #f4f4f4;
}

.name-product {
    width: auto;
    display: flex;
    margin-top: 0.5rem;
    color: #000000;
    font-size: 1.5rem;
    font-weight: 550;
    justify-content: center;
}

.price-product {
    /* font-family: 'Macondo', cursive; */
    font-weight: 600;
    color: #000000;
}

.btn-add {
    width: 8rem;
    height: 1.5rem;
    border-radius: 55px;
    background-color:rgba(64,123,255,255);
    color: white;
    font-size: 1rem;
    margin: 5px;
    margin-left: 14rem;
    margin-bottom: 5rem;
    margin-top: 1%;
}

.btn-add:hover,
.btn-add:focus {
    cursor: pointer;
    background-color: #000000;
    font-weight: 900;
    color: #ffffff;
}

.modal {

    width:25rem;
    height: 30rem;
    border: groove black 2px;
    background-color: #c5d7ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    position: absolute;
    z-index: 1;
    display: none;
    margin-top: 20rem;
    border-radius: 20px;
}

#new-product{
    border-radius: 5px;
}

#new-price{
    border-radius: 5px;
}

#new-tipo{
    border-radius: 5px;
}

#new-area{
    border-radius: 5px;
}

#new-ciudad{
    border-radius: 5px;
}

#newEstrellas{
    background-color: rgb(255, 255, 255);
    margin-top: 0.1rem;
    width: 10rem;
}

#new-tipo {
    
    background-color: rgb(255, 255, 255);
    margin-top: 0.1rem;
    width: 10rem;
    
}

#close-modal{
    background-color: #000;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn-create{
    width: 10%;
    height: 2rem;
    background-color:rgba(64,123,255,255);
    border:0px;
    color: #ffffff;  
    cursor: pointer;  
    border-radius: 5px;
    margin: 10px;
    margin-top: 120px;
    font-size: 1.2rem;
}

#select-products{
    background-color:rgba(64,123,255,255);
    width: 10%;
    height: 2rem;
    cursor: pointer; 
    border-radius: 5px;
    font-size: 1.2rem;
    margin-top: 120px;
}
#btn-new-create{
    background:#0071ce;
    color: black;
}


#btn-create{
    background:#0071ce;
}

.modal{
    background-color: #c5d7ff;
}

#contacto{
    background:#ffffff;
    width: 170px;
    height: 25px;
    color:black;
    font-size: 15px;
    font-style: oblique;
    border-radius: 7px;
}
#Descripcion{
    background:#ffffff;
    width: 170px;
    height: 25px;
    color: black;
    font-size: 15px;
    font-style: oblique;
    border-radius: 7px;
}
#Fecha{
    background:#ffffff;
    width: 200px;
    height: 25px;
    color: black;
    font-size: 12px;
    font-style: oblique;
    border-radius: 7px;
}
#Lugar{
    background:#ffffff;
    width: 170px;
    height: 25px;
    color: black;
    font-size: 15px;
    font-style: oblique;
    border-radius: 7px;
}
#nombre{
    background:#ffffff;
    width: 170px;
    height: 25px;
    color: black;
    font-size: 15px;
    font-style: oblique;
    border-radius: 7px;
}
#Npersonas{
    background:#ffffff;
    width: 170px;
    height: 25px;
    color: black;
    font-size: 15px;
    font-style: oblique;
    border-radius: 7px;
}
#new-image{
    background:#ffffff;
    width: 300px;
    height: 20.5px;
    color: black;
    font-size: 12px;
    font-style: oblique;
    border-radius: 7px;
}