@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&family=Varela+Round&display=swap');
*{
    font-family: 'Varela Round', sans-serif;
    padding: 0px;
    margin: 0px;
}

body{
    /* display: flex; */
    align-items:row;
    flex-direction: column; 
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    
    /* background-image: url('../titoCarrito/img/fonfo.jpg'); */
    /* background-size: cover;  */
}

header{
    display: flex;
    width: 100%;
    height: 15vh;
    background-color: #0071ce;
    justify-content: center;
    align-items: center;
    
}

#logo{
    width: 25%;
    height: 100%;
    background: url(./img/logo4.png);
    background-size: cover;
    background-position: center;
}

nav img{
    width:3rem;
    margin-left: 1rem;
    margin-top: 5px;
}


#products{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#3f87a6;
    /* background-color: #000; */
    width: 3%;
    height: 30%;
    /* box-shadow: 0px 0px 3px 3px #fff; */
    border-radius: 9px;
}

h1 {
    
    font-size: 4rem;
    /* color: #ffffff; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 5px 5px 3px #000000;
    margin-left: 15%;
    color: #8709cf;
    
}
.logo {
    display: flex;
    /* font-size: 10px; */
    width: 80px;
    margin-right: 60%;
}



hr {
    background: linear-gradient(#f69d3c, #3f87a6);
}
.nav1{
    margin: 30px;
}
.container-products{
    width: 100%;
    height: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.padre-anuncios{
    width: 100%;
    height: 100%;
    background-color: #461919;
    margin-left: 30px;
    display: flex;
    justify-content: space-around;
}
.anuncios{
    width: 100%;
    height: 1000px;
    background-color: white;
    margin-left: 30px;
}
.contain{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#container-cards{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 300px;
}


select{
    width: 20%;
    height: 2rem;
    background: #967300;
    border:0px;
    color: #ffffff;  
    cursor: pointer;  
    border-radius: 5px;
    margin: 10px;
    box-shadow: 0px 0px 5px 5px rgb(255, 255, 255);
    text-shadow: 5px 5px 5px #000;
    font-size: 1.2rem;
    font-style: oblique;
    margin-top: -120px;
}
.logotype{
    display: flex;
    width: 22%;
    justify-content: space-between;
    font-size: 3rem;
    align-items: center;
}

.icons{
    font-size: 2rem;
    cursor: pointer;
}


.menu{
    font-size: 2.5rem;
    color: #9C0A00;
    padding: 1% 0%;
}


main{
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

h2 {
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    text-align: center;
}

.principal-container {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card{
    width: 35rem;
    height: 15rem;
    display: flex;
    align-items: center;
    padding: 0% 2%;
    box-shadow: 0px 0px 5px 5px rgb(255, 255, 255);
    margin: 0.7rem;
    border-radius: 2%;
    flex-wrap: wrap;
}

.cardContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 13rem;
    justify-content: space-evenly;
}

.price{
    color: #967300  ;
    font-size: 1.3rem;
    text-align: start;
    width: 100%;
}
  
.card img {
    width: 45%;
    height: 10rem;
    object-fit: cover;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 2%;
}
  

  
button {
    width: 50%;
    height: 2rem;
    background: #967300;
    border:0px;
    color: #ffffff;  
    cursor: pointer;  
    border-radius: 15px;
    justify-content:flex-end
}
  
button:hover{
    background: #f4f4f4;
    color: rgb(255, 255, 255);
    font-weight: bold;
    outline: 2px solid black;
    outline-offset:2px;
}

/*POPUP*/

.overlay{
    background: rgba(0, 0, 0,.3);
    position: fixed;
    top:0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden; 
}

.activate{
    visibility: visible;
}


.popup{
    background: #f4f4f4;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.1);
    border-radius: 2%;
    position: absolute;
    top: 2%;
    padding: 2%;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 88%;
    width: 50%;

    opacity: 0; 
    transform: scale(0);
    transition: .4s ease all;
}
h3{
    color:#967300;
    font-family: 'Merriweather', serif;
    font-style: oblique;
}

.btn-close-popup{
    font-size: 1.5rem;
    color:#967300;
    transition: .3s ease all;
    position: relative;
    left: 48%;
}

.btn-close-popup:hover{
    color: #000;
}

.shoppingCart{
    font-size: 36px;
    margin-bottom: 10px;
    display: flex;
    width: 100%;
    gap: 3%;
    justify-content: center;
    align-items: baseline;
}

.information{
    font-style: oblique;
    font-weight: bold;
    
}


/*animaciones*/

.popup.activate{
    opacity: 1;
    transform: scale(1);
}

.shoppingCart-container{
    overflow: hidden;
    overflow-y: auto;
}

.shoppingCart-container::-webkit-scrollbar {
    -webkit-appearance: none;
}

.shoppingCart-container::-webkit-scrollbar:vertical {
    width:8px;
}


.shoppingCart-container::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
}


.quantityNumber{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
}

.numberQuantity{
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: baseline;
}
.circle{
    background: #967300;
    color: #fff;
    width: 20%;
    text-align: center;
    border-radius: 100px;
    cursor: pointer;
}

.circle:hover{
    background: #f4f4f4;
    color: #000;
    border: #000 2px solid;
    font-weight: bold;

}

.delete{
    order: 1;
    align-self: flex-start;
    background: #967300;
    color: #fff;
    width: 33px;
    height: 33px;
    display: flex;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 21px;
    bottom: 9px;
    font-weight: bold;
    cursor: pointer;
} 

.delete:hover{
    background: #f4f4f4;
    color: #000;
    border: #000 2px solid;
}

footer{
    margin-top: 2vh;
    background-color: #f4f4f4;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0% 5%;
}
.card-product {
    margin: 1rem;
    width: 40rem;
    height: 30rem;
    border-radius: 5px;
    /* border: groove #ffffff 2px; */

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: center; */
    font-family: 'Roboto', sans-serif;
}

.img-product {
    width: 78%;
    height: 50%;
    border-radius: 15px;
}
p{
    font-size: 12px;
}

.name-product {
    display: flex;
    width: 100%;
    margin-top: 0.5rem;
    color: #000000;
    /* font-family: 'Macondo'; */
    font-size: 1rem;
    font-weight: 600;
    /* background-color: rgb(202, 202, 202); */
    /* justify-content:center */
}

.price-product {
    /* font-family: 'Macondo', cursive; */
    font-weight: 600;
    color: #000000;
}

.btn-add {
    width: 8rem;
    height: 1.5rem;
    border-radius: 55px;
    background-color: #8709cf;
    color: white;
    font-size: 1rem;
    margin: 5px;
    margin-left: 14rem;
    margin-bottom: 5rem;
    margin-top: 1%;
}

.btn-add:hover,
.btn-add:focus {
    cursor: pointer;
    background-color: #000000;
    font-weight: 900;
    color: #ffffff;
}

.modal {

    width:25rem;
    height: 30rem;
    border: groove black 2px;
    background-color: #967300;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    position: absolute;
    z-index: 1;
    display: none;
    margin-top: 20rem;
    border-radius: 20px;
}

#new-product{
    border-radius: 5px;
}

#new-price{
    border-radius: 5px;
}

#new-tipo{
    border-radius: 5px;
}

#new-area{
    border-radius: 5px;
}

#new-ciudad{
    border-radius: 5px;
}

#newEstrellas{
    background-color: rgb(255, 255, 255);
    margin-top: 0.1rem;
    width: 10rem;
}

#new-tipo {
    
    background-color: rgb(255, 255, 255);
    margin-top: 0.1rem;
    width: 10rem;
    
}

#close-modal{
    background-color: #000;
    border-radius: 10px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn-create{
    width: 20%;
    height: 2rem;
    background: #fbfbfb;
    border:0px;
    color: #ffffff;  
    cursor: pointer;  
    border-radius: 5px;
    margin: 10px;
    margin-top: -120px;
    box-shadow: 3px 5px 5px  rgb(255, 255, 255);
    font-size: 1.2rem;
    font-style: oblique;
    text-shadow: 5px 5px 5px rgb(255, 255, 255);
    box-shadow: 0px 0px 5px 5px rgb(255, 255, 255);
}
#select-products{
    background:#0071ce;
}
#btn-new-create{
    background:#ffffff;
    color: black;
}
#btn-create{
    background:#0071ce;
}
.modal{
    background-color: #0071ce
}
#contacto{
    background:#ffffff;
    width: 170px;
    height: 25px;
    color:black;
    font-size: 15px;
    font-style: oblique;
}
#Descripcion{
    background:#ffffff;
    width: 170px;
    height: 25px;
    color: black;
    font-size: 15px;
    font-style: oblique;
}
#Fecha{
    background:#ffffff;
    width: 200px;
    height: 25px;
    color: black;
    font-size: 12px;
    font-style: oblique;
}
#Lugar{
    background:#ffffff;
    width: 170px;
    height: 25px;
    color: black;
    font-size: 15px;
    font-style: oblique;
}
#nombre{
    background:#ffffff;
    width: 170px;
    height: 25px;
    color: black;
    font-size: 15px;
    font-style: oblique;
}
#Npersonas{
    background:#ffffff;
    width: 170px;
    height: 25px;
    color: black;
    font-size: 15px;
    font-style: oblique;
}
#new-image{
    background:#ffffff;
    width: 300px;
    height: 20.5px;
    color: black;
    font-size: 12px;
    font-style: oblique;
}