body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family:  sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header{
    display: flex;
    align-items: center;
    gap:10rem;
}

.gif{
    width: 70rem;
    height: 58rem;
    margin-left: -9rem;
}

.logo-person{
    border-radius: 40px;
    margin-left: 9.5rem;
}

h1{
    margin-top:1rem;
}

.login-box {
    width: 28rem;
    height: 35rem;
    background-color: #c5d7ff;
    color: #000;
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 10px;
}

#btn-login{
    background-color: rgba(64,123,255,255);
    color: #fff;
}

#userName{
    background-color: #fff;
    border-radius: 15px;
    color:rgb(164, 164, 164);
}

#password{
    background-color: #fff;
    border-radius: 15px;
    color:rgb(164, 164, 164);
}

#email{
    background-color: #fff;
    border-radius: 15px;
    color:rgb(164, 164, 164);
    border-style: none;
    height: 40px ;
    font-size: 16px;
}



.login-box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.login-box label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
}

.login-box input {
    width: 100%;
    margin-bottom: 20px;

}

.login-box input[type="text"], .login-box input[type="password"] {
    border: none;
    border-bottom: 1px solid #ffff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #000;
    font-size: 16px;
    border-color: aqua;
}

.login-box input[type="button"] {
    border: none;
    outline: none;
    height: 40px;
    background: #ffff;
    color: #000;
    font-size: 18px;
    border-radius: 20px;
}

.login-box a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgray;
}

.login-box a:hover {
    color: #ffff;
}